@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

/* global Style ----------------------------------*/
/* global font */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("../Static/fonts/GmarketSansTTFMedium.ttf");
  font-weight: normal;
  font-style: normal;
}

/* global color */
@property --primaryColor {
  syntax: "<color>";
  inherits: true;
  initial-value: #1f4174;
}

@property --secondaryColor {
  syntax: "<color>";
  inherits: true;
  initial-value: white;
}

/* global Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn;
  animation-duration: 0.8s;
}

.fadeOut {
  animation: fadeOut;
  animation-duration: 0.8s;
}

/* Global style */
* {
  box-sizing: border-box;
  font-family: "GmarketSansMedium";
  margin: 0;
  padding: 0;
}

*::selection {
  color: black;
  background: #daa520;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background: --primaryColor;
  border-radius: 10px;
}

/* html----------------------------------------- */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* container ----------------------------------- */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* item ---------------------------------------- */
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item.header {
  height: 10%;
  background-color: var(--primaryColor);
}

.item.header span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-family: "Kaushan Script", cursive;
  font-size: 2rem;
  color: var(--secondaryColor);
  border: 7px solid var(--secondaryColor);
  border-top: none;
  border-bottom: none;
  padding: 10px;
}

.item.body {
  min-height: 90%;
  flex-grow: 1;
}

/* form ---------------------------------------- */
input {
  width: 250px;
  height: 40px;
  border: 1px solid var(--primaryColor);
  border-radius: 5px;
  padding: 2%;
}

button {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}

/* media query --------------------------------- */

/* 세로모드 모바일 디바이스 (가로 해상도가 576px 보다 작은 화면에 적용)
@media (max-width: 575px) {...} 

가로모드 모바일 디바이스 (가로 해상도가 576px보다 크고 768px 보다 작은 화면에 적용) 
@media (min-width: 576px) and (max-width: 767px) {...}

태블릿 디바이스 (가로 해상도가 768px보다 크고 991px 보다 작은 화면에 적용) 
@media (min-width: 768px) and (max-width: 991px) {...} 

데스크탑 (가로 해상도가 992px보다 크고 1199px 보다 작은 화면에 적용) 
@media (min-width: 992px) and (max-width: 1199px) {...} 

큰화면 데스크탑 (가로 해상도가 1200px 보다 큰 화면에 적용) 
@media (min-width: 1200px) {...} */
