/* Universal -----------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@property --primaryColor {
  syntax: "<color>";
  inherits: true;
  initial-value: #1f4174;
}

@property --secondaryColor {
  syntax: "<color>";
  inherits: true;
  initial-value: white;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background: --primaryColor;
  border-radius: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* container ----------------------------------- */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* item ---------------------------------------- */
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item.header {
  height: 8%;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}

.item.input {
  height: 92%;
  flex-grow: 1;
}

/* media query --------------------------------- */

/* 세로모드 모바일 디바이스 (가로 해상도가 576px 보다 작은 화면에 적용)
@media (max-width: 575px) {...} 

가로모드 모바일 디바이스 (가로 해상도가 576px보다 크고 768px 보다 작은 화면에 적용) 
@media (min-width: 576px) and (max-width: 767px) {...}

태블릿 디바이스 (가로 해상도가 768px보다 크고 991px 보다 작은 화면에 적용) 
@media (min-width: 768px) and (max-width: 991px) {...} 

데스크탑 (가로 해상도가 992px보다 크고 1199px 보다 작은 화면에 적용) 
@media (min-width: 992px) and (max-width: 1199px) {...} 

큰화면 데스크탑 (가로 해상도가 1200px 보다 큰 화면에 적용) 
@media (min-width: 1200px) {...} */
